<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.mharsh.StarPrint"
  version="0.1.0">
  <name>StarPrint</name>
  <description>Print receipt Function for Star Micronics Printer</description>
  <license>Apache 2.0</license>
  <keywords>cordova,PrintPlugin, StarPrint</keywords>

  <dependency id="org.apache.cordova.device" url="https://github.com/apache/cordova-plugin-device.git" />

  <js-module src="www/StarPrint.js" name="StarPrint">
    <clobbers target="window.StarPrint" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
   <config-file target="config.xml" parent="/*">
     <feature name="StarPrint">
       <param name="ios-package" value="StarPrint" />
     </feature>
   </config-file>

   <header-file src="src/ios/StarPrint.h" />
   <source-file src="src/ios/StarPrint.m" />
 </platform>

</plugin>